@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Nord color theme (https://www.shadcn.studio/) */
:root {
  --background: hsl(220 15% 95%);
  --foreground: hsl(210 10% 20%);
  --card: hsl(220 15% 95%);
  --card-foreground: hsl(210 10% 20%);
  --popover: hsl(220 15% 95%);
  --popover-foreground: hsl(210 10% 20%);
  --primary: hsl(204 60% 50%);
  --primary-foreground: hsl(204 80% 95%);
  --secondary: hsl(215 15% 80%);
  --secondary-foreground: hsl(210 25% 20%);
  --muted: hsl(215 10% 90%);
  --muted-foreground: hsl(210 15% 40%);
  --accent: hsl(215 10% 90%);
  --accent-foreground: hsl(210 10% 20%);
  --destructive: hsl(0 80% 55%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(215 15% 80%);
  --input: hsl(215 15% 80%);
  --ring: hsl(204 60% 50%);
  --radius: hsl(0.5rem);
  --chart-1: hsl(204 60% 50%);
  --chart-2: hsl(210 40% 60%);
  --chart-3: hsl(220 70% 50%);
  --chart-4: hsl(192 50% 60%);
  --chart-5: hsl(240 25% 50%);  
  --sidebar-background: hsl(220 15% 92%);
  --sidebar-foreground: hsl(210 10% 38%);
  --sidebar-primary: hsl(204 60% 47%);
  --sidebar-primary-foreground: hsl(204 80% 100%);
  --sidebar-accent: hsl(215 10% 87%);
  --sidebar-accent-foreground: hsl(210 10% 20%);
  --sidebar-border: hsl(215 15% 77%);
  --sidebar-ring: hsl(204 60% 47%);

  --radius: 1rem;
}

/* Nord color theme (https://www.shadcn.studio/) */
.dark {
  --background: hsl(220 15% 10%);
  --foreground: hsl(204 50% 90%);
  --card: hsl(220 15% 10%);
  --card-foreground: hsl(204 50% 90%);
  --popover: hsl(220 15% 10%);
  --popover-foreground: hsl(204 50% 90%);
  --primary: hsl(204 60% 50%);
  --primary-foreground: hsl(204 80% 95%);
  --secondary: hsl(215 15% 30%);
  --secondary-foreground: hsl(204 50% 80%);
  --muted: hsl(215 10% 20%);
  --muted-foreground: hsl(210 40% 70%);
  --accent: hsl(215 10% 20%);
  --accent-foreground: hsl(204 50% 90%);
  --destructive: hsl(0 80% 50%);
  --destructive-foreground: hsl(204 90% 95%);
  --border: hsl(215 15% 30%);
  --input: hsl(215 15% 30%);
  --ring: hsl(204 60% 50%);
  --radius: hsl(0.5rem);
  --chart-1: hsl(210 50% 40%);
  --chart-2: hsl(204 80% 50%);
  --chart-3: hsl(220 60% 50%);
  --chart-4: hsl(192 40% 50%);
  --chart-5: hsl(240 25% 60%);
  --sidebar-background: hsl(220 15% 2%);
  --sidebar-foreground: hsl(204 50% 50%);
  --sidebar-primary: hsl(204 60% 42%);
  --sidebar-primary-foreground: hsl(204 80% 100%);
  --sidebar-accent: hsl(215 10% 12%);
  --sidebar-accent-foreground: hsl(204 50% 90%);
  --sidebar-border: hsl(215 15% 22%);
  --sidebar-ring: hsl(204 60% 42%);

  --radius: 1rem;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Application style defaults */
/* @layer default {
} */
